/* You can add global styles to this file, and also import other style files */
*{
    border: 0 none transparent;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.inputBox{
    max-width: 320px;
    min-width: 238px;
}